<!DOCTYPE html>
<html lang="en">
    <head>
        <title>W3.CSS Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{> headersLink}}
    </head>
<body>

{{> sidebar}}
{{> header}}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Tasty Buds</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Thank you for contacting us.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>We are working to serve the best for you!</p>
    <p>You will be hearing from us shortly. Meanwhile, stay hungry...</p>
  </div>

  <h1 class="w3-xlarge w3-text-red"><b><a href="/">Click to return home.</a></b></h1>

  <div id="wall-holder"></div>
  
  {{> contact}}

<!-- End page content -->
</div>
  {{> footer}}
</body>
</html>
