<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a class="sidebar-open w3-button w3-red w3-margin-right">☰</a>
  <span>Tasty Buds</span>
</header>